<div class = "background">
    <h1>Login</h1>
    <form action= "users" method= "get">
      Username <input type="text"><br><br>
      Password <input type="text"><br><br>
      <input type="submit" value= "Login" >
    </form>
</div>